@import "tailwindcss";


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #101828;
  background-color:#F3F4F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

/* Moves the toast slightly below the top edge */
.Toastify__toast-container--top-right {
  top: 5rem !important; /* Adjust the gap from top (e.g. 5rem = ~80px) */
  right: 1rem !important;
}

/* Customize toast look and width */
.custom-toast {
 
  padding: 12px 16px !important;
  font-weight: 500 !important;
  width: 350px !important;
  max-width: 90vw !important; /* Mobile responsive width */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15) !important;
}

/* Mobile view width adjustment */
@media (max-width: 640px) {
  .custom-toast {
    width: 280px !important;
     border-radius: 8px !important;
      padding: 8px 12px !important;
  }
}
